* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  color: #edf2f4;
  text-align: center;
  min-height: 870px;
  background-color: #2b2d42;
}

 .navBar, footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  background-color: #8d99ae;
  padding: 20px;
  text-align: center;
}

.mainRow {
  display: grid;
  grid-template-columns: 0.50fr 1fr;
}

h1 {
  margin: 30px;
}

.easy {
  color: #ffbe0b;
}

.notEasy {
  color: #ff6700;
}

.done{
  text-decoration: line-through;
}

a {
  text-decoration: none;
  color: #edf2f4;
  font-weight: bold;
}

.navBar ul {
  display: flex;
  list-style: none;
}

.navBar li {
  flex-grow: 1;  
}

.toDoList{
  text-align: left;
}

.toDoList li {
  margin-top: 15px;
  font-size: 20px;
  list-style: none;
}

.userPicture {
  max-height: 200px;
  border-radius: 50px;
  padding: 10px;
}

span {
  color: red;
}

button {
  padding: 5px;
  font-family: system-ui, sans-serif;

}
