* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Body {
  color: #edf2f4;
  text-align: center;
  min-height: 870px;
  background-color: #2b2d42;
}

.mainRow {
  display: grid;
  grid-template-columns: 0.50fr 1fr;
}

h1 {
  margin: 30px;
}

.easy {
  color: #ffbe0b;
}

.notEasy {
  color: #ff6700;
}

.productivityNumber {
  margin-top: 20px;
  border-style: solid;
  padding: 10px;
  width: fit-content;
}

.done{
  text-decoration: line-through;
}

.toDoList {
  text-align: left;
}

.toDoList li {
  margin-top: 15px;
  font-size: 20px;
  list-style: none;
  margin-bottom: 10px;
}

.tasksPoints {
  border: 2px solid;
  border-radius: 90px;
  color:#edf2f4;
  padding: 0 7px;
}

.labelToDoList {
  margin: 0 7px;
}

.addTask {
  margin-top: 20px;
}

input > #myForm {
  padding-bottom: 30px;
}


